a {
  text-decoration: none;
  color: white;
  margin-left:30px ;
  margin-right:30px ;
 
}

nav {
  background: #036d80;
  padding: 10px;
  color: white;
  width: 100%;
  height: 80px;
}

.navHom{
  margin-top: 10px;
}

.car{
  size: 50px;
}

.active {
  color: rgb(7, 199, 52);
} 

footer{
  margin-top: 350px;
  background: #036d80;
}
